
.program__header{
      background-image: url('../../assets/navbarBg.jpg');
  background-position: center;
  background-size: cover;
height: 95vh;
background-repeat: no-repeat;
display: flex;
align-items: center;
padding-top: 70px !important;
flex-direction: column;
padding: 15px;
}
.program__header h2{
    color: #D1D1D1;
    font-size: 48px;
    letter-spacing: 2px;
}
.program__header h5{
    padding-top: 20px;
    color: #D1D1D1;
    text-decoration: underline;
    font-size: 15px;
}
.program__header .image{
    margin-top: 50px;
}
.program__header h4{
    color: #B1B1B1;
    font-size: 17px;
    padding-top: 35px;
    max-width: 500px;
    display: flex;
    margin: 0 auto;
}
.program__header h3{
    padding-top: 8px;
    color: #cac6c6;
    max-width: 600px;
   margin: 0 auto;
}
.program__header .last__text {
    padding-top: 27px;
}
.last__text p{
    font-size: 15px;
    max-width: 600px;
    text-align: center;
    color: #F9F9F9;
    word-spacing: 3px;
}
.program__countries{
    height: 100%;
    display: flex;
    flex-direction: column;
 background-color: #000;
    background-color: #000;
    
}
.program__countries .lists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.program__countries .lists .list__cart{
    background-color: #000;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.list__cart h5{
    padding-top: 40px;
    color: #F3F1F2;
    font-size: 30px;
    margin-left: 37px;
}
.list__cart p{
    color: #B8B8B8;
    text-align: center;
    max-width: 300px;
    font-size: 18px;
    padding-top: 7px;
    word-spacing: 4px;
    margin-left: 27px;
}

@media(max-width:991px){
    .program__header{
        height: 100%;
    }
    .program__header h2{
        font-size: 32px;
    }
}